### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [74]:
# Dependencies and Setup


import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file_to_load)
data_df = pd.DataFrame(data)
data_df.head(100)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92
97,97,Aiduecal76,20,Male,134,Undead Crusader,4.50
98,98,Chadossa89,23,Male,132,Persuasion,3.19
99,99,Haisrisuir60,23,Male,92,Final Critic,4.19

In [75]:
data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [107]:
player_data = data[['SN','Age','Gender']].drop_duplicates()
player_data

                SN  Age  Gender
0          Lisim78   20    Male
1      Lisovynya38   40    Male
2       Ithergue48   24    Male
3    Chamassasya86   24    Male
4        Iskosia90   23    Male
..             ...  ...     ...
773         Hala31   21    Male
774     Jiskjask80   11    Male
775     Aethedru70   21  Female
777     Yathecal72   20    Male
778        Sisur91    7    Male

[576 rows x 3 columns]

In [109]:

player_data = data[['SN','Age','Gender']].drop_duplicates()
player_data

total_players= player_data["SN"].count()
print(total_players)

576

In [106]:
player_data = data[['SN','Age','Gender']].drop_duplicates()
player_data

                SN  Age  Gender
0          Lisim78   20    Male
1      Lisovynya38   40    Male
2       Ithergue48   24    Male
3    Chamassasya86   24    Male
4        Iskosia90   23    Male
..             ...  ...     ...
773         Hala31   21    Male
774     Jiskjask80   11    Male
775     Aethedru70   21  Female
777     Yathecal72   20    Male
778        Sisur91    7    Male

[576 rows x 3 columns]

In [79]:
data_df.value_counts()

Purchase ID  SN              Age  Gender  Item ID  Item Name                                  Price
779          Ennrian78       24   Male    50       Dawn                                       4.60     1
243          Quaranmol58     24   Male    83       Lifebender                                 3.33     1
265          Lirtirra37      25   Male    172      Blade of the Grave                         3.14     1
264          Saesrideu94     35   Male    119      Stormbringer, Dark Blade of Ending Misery  4.32     1
263          Aeral43         24   Male    78       Glimmer, Ender of the Moon                 4.40     1
                                                                                                      ..
517          Aerithnuphos61  39   Male    128      Blazeguard, Reach of Eternity              4.91     1
516          Aidain51        39   Female  35       Heartless Bone Dualblade                   3.45     1
515          Haillyrgue51    7    Male    40       Second Chance                              2.52     1
514          Yasur85         21   Male    21       Souleater                                  1.10     1
0            Lisim78         20   Male    108      Extraction, Quickblade Of Trembling Hands  3.53     1
Length: 780, dtype: int64

## Purchasing Analysis (Total)

data_df.shape

In [80]:
data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [81]:
data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [82]:
data_df["Price"]=pd.to_numeric(data_df["Price"])

In [83]:
data_df["Price"].dtype

dtype('float64')

In [84]:
data_df["Item ID"].value_counts

<bound method IndexOpsMixin.value_counts of 0      108
1      143
2       92
3      100
4      131
      ...
775     60
776    164
777     67
778     92
779     50
Name: Item ID, Length: 780, dtype: int64>

In [85]:
unique_items = len(data_df["Item ID"].unique())
unique_items

179

In [86]:
total_purchases = data_df["Purchase ID"].count()
total_purchases

780

In [87]:
total_revenue = data_df["Price"].sum()
total_revenue

2379.77

In [88]:
average_price = total_revenue/total_purchases
average_price

3.0509871794871795

In [89]:
data_df = pd.DataFrame([{"Number of Unique Items": unique_items, "Average Price": average_price,
                                      "Number of Purchases": total_purchases, "Total Revenue": total_revenue}])
data_df["Average Price"] = data_df["Average Price"].map("${:,.2f}".format)
data_df["Total Revenue"] = data_df["Total Revenue"].map("${:,.2f}".format)
data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [90]:
gender_df = pd.DataFrame(player_data["Gender"].value_counts())
gender_df

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [91]:
percentage_of_players = (player_data["Gender"].value_counts()/total_players)*100
percentage_of_players

Male                     62.051282
Female                   10.384615
Other / Non-Disclosed     1.410256
Name: Gender, dtype: float64

In [92]:
gender_df["Percentage of Players"] = percentage_of_players
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)
gender_df

                       Gender Percentage of Players
Male                      484                62.05%
Female                     81                10.38%
Other / Non-Disclosed      11                 1.41%

In [93]:
fin_df = gender_df.rename(columns={"Gender":"Total Count"})
fin_df

                       Total Count Percentage of Players
Male                           484                62.05%
Female                          81                10.38%
Other / Non-Disclosed           11                 1.41%

In [94]:
reorderlist = ['Female', 'Male','Other / Non-Disclosed']
fin_df.reindex(reorderlist)

                       Total Count Percentage of Players
Female                          81                10.38%
Male                           484                62.05%
Other / Non-Disclosed           11                 1.41%


## Purchasing Analysis (Gender)

In [98]:
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file_to_load)
data_df = pd.DataFrame(data)
data_df.head(100)
gender_g_p_data_df = data_df.groupby(["Gender"])


gender_g_p_data_df["Purchase ID"].count().head(10)

# Get total purchase value by gender
total_purchase_value = gender_g_p_data_df["Price"].sum()
total_purchase_value.head()
dlr_total_purchase_value = total_purchase_value.map("${:,.2f}".format)
dlr_total_purchase_value.head()

# Average purchase price by gender
avg_purchase_price = gender_g_p_data_df["Price"].mean()
avg_purchase_price.head()
dlr_avg_purchase_price = avg_purchase_price.map("${:,.2f}".format)
dlr_avg_purchase_price.head()

# Normalized totals, total purchase value divided by purchase count by gender
avg_total = total_purchase_value/fin_df["Total Count"]
avg_total = avg_total.map("${:,.2f}".format)
avg_total.head()

# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
org_gender_purchased_data_df = pd.DataFrame(gender_g_p_data_df["Purchase ID"].count())
org_gender_purchased_data_df["Average Purchase Price"] = dlr_avg_purchase_price  
org_gender_purchased_data_df["Total Purchase Value"] = dlr_total_purchase_value 
org_gender_purchased_data_df["Total number of Purchase per person"] = avg_total
org_gender_purchased_data_df

# Summary purchasing analysis DF grouped by gender, rename "Purchase ID" column, using .rename(columns={})
summary_gender_purchased_data_df = org_gender_purchased_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_gender_purchased_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Total number of Purchase per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [10]:

import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"


data = pd.read_csv(file_to_load)
data_df = pd.DataFrame(data)
data_df.head(100)
player_data = data[['SN','Age','Gender']].drop_duplicates()
player_data

total_players= player_data["SN"].count()
print(total_players)

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# # Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

grp_by_age_purchase_data_df = data
grp_by_age_purchase_data_df["Age Summary"] = pd.cut(grp_by_age_purchase_data_df["Age"], age_bins, labels=group_names)
grp_by_age_purchase_data_df

# Creating a group based off of the bins and saving it
grp_by_age_purchase_data_df = grp_by_age_purchase_data_df.groupby("Age Summary")
grp_by_age_purchase_data_df.count()

# Let's work with this new dataframe
summary_by_age_df = pd.DataFrame(grp_by_age_purchase_data_df.count())
summary_by_age_df 

# Calculations performed on "Purchase Id"" column of summary df
summary_by_age_df["Purchase ID"] = (summary_by_age_df["Purchase ID"]/total_players)*100
summary_by_age_df 

# format percentages 
summary_by_age_df["Purchase ID"] = summary_by_age_df["Purchase ID"].map("{:,.2f}%".format)
summary_by_age_df

#  Reduce number of columns to "Age Summary", "Purcahe ID", format percentages and write into org Data Frame
org_summary_by_age_df = summary_by_age_df[["Purchase ID","SN"]]
org_summary_by_age_df

# Rename the columns for the final age dempgraphic df using .rename(columns={})
fin_grp_by_age_summary_df = org_summary_by_age_df.rename(columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
fin_grp_by_age_summary_df

576

            Percentage of Players  Total Count
Age Summary
<10                         3.99%           23
10-14                       4.86%           28
15-19                      23.61%          136
20-24                      63.37%          365
25-29                      17.53%          101
30-34                      12.67%           73
35-39                       7.12%           41
40+                         2.26%           13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [6]:
orig_p_d_df = pd.DataFrame(data)
orig_p_d_df.head()

# Group by Spendors ( "SN" )
top_spendor_df = orig_p_data_df.groupby("SN")
top_spendor_df.count()

# Let's work with data sorted by SN new dataframe
analysis_SPENDOR_df = pd.DataFrame(grp_SN_top_spendor_df["Purchase ID"].count())
analysis_SPENDOR_df

# Get Total purchase value by SN
total_purchase_value_SN = top_spendor_df["Price"].sum()
total_purchase_value_SN

# Get Average purchase price by SN
avg_purchase_price_SN = top_spendor_df["Price"].mean()
avg_purchase_price_SN
dlr_avg_purchase_price_SN = avg_purchase_price_SN.map("${:,.2f}".format)
dlr_avg_purchase_price_SN

# Organize summary Top Spender data, get all columns to organized Data Frame, add needed columns to it
analysis_SPENDOR_df["Average Purchase Price"] = dlr_avg_purchase_price_SN
analysis_SPENDOR_df["Total Purchase Value"] = total_purchase_value_SN 
analysis_SPENDOR_df

# Summary Top Spendor analysis grouped by SN, rename "Purchase ID" column, using .rename(columns={})
SUM_SN_purchased_data_df = analysis_by_SPENDOR_df.rename(columns={"Purchase ID":"Purchase Count"})
TOP5_spendors_df=SUM_SN_purchased_data_df.sort_values("Total Purchase Value", ascending=False)
TOP5_spendors_df.head()

# Format Total Purchase Price to be in dollar form
dlr_total_purchase_value_SN = total_purchase_value_SN.map("${:,.2f}".format)
TOP5_spendors_df["Total Purchase Value"] = dlr_total_purchase_value_SN
TOP5_spendors_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [7]:
grp_top_item_df = orig_purchase_data_df.groupby(["Item ID", "Item Name"])
grp_top_item_df.count()

# Let's work with data sorted by Item new dataframe
analysis_ITEM_df = pd.DataFrame(grp_top_item_df["Purchase ID"].count())
analysis_ITEM_df

# Get Total purchase value by Item
total_purchase_value_ITEM = grp_top_item_df["Price"].sum()
total_purchase_value_ITEM
dlr_total_purchase_value_ITEM = total_purchase_value_ITEM.map("${:,.2f}".format)
dlr_total_purchase_value_ITEM

# Get purchase price by Item
purchase_price_ITEM = grp_top_item_df["Price"].mean()
purchase_price_ITEM
dlr_purchase_price_ITEM = purchase_price_ITEM.map("${:,.2f}".format)
dlr_purchase_price_ITEM

# Organize summary Item data, get all columns to organized Data Frame, add needed columns to it
analysis_ITEM_df["Item Price"] = dlr_purchase_price_ITEM
analysis_ITEM_df["Total Purchase Value"] = dlr_total_purchase_value_ITEM
analysis_ITEM_df

# Summary Most Popular Item analysis grouped by Item, rename "Purchase ID" column, using .rename(columns={})
SUM_ITEM_purchased_data_df = analysis_by_ITEM_df.rename(columns={"Purchase ID":"Purchase Count"})
TOP5_ITEMS_df=SUM_ITEM_purchased_data_df.sort_values("Purchase Count", ascending=False)
TOP5_ITEMS_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [8]:
SUM_ITEM_purchased_data_df["Total Purchase Value"] = grp_top_item_df["Price"].sum()
SUM_ITEM_purchased_data_df

# Summary Most Popular Item analysis grouped by Item, rename "Purchase ID" column, using .rename(columns={})
TOP5_ITEMS_df=SUM_ITEM_purchased_data_df.sort_values("Total Purchase Value", ascending=False)

# Format Total Purchase Price to be in dollar form
dlr_total_purchase_value_ITEM = total_purchase_value_ITEM.map("${:,.2f}".format)
TOP5_ITEMS_df["Total Purchase Value"] = dlr_total_purchase_value_ITEM
TOP5_ITEMS_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80