### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup


import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file_to_load)
data_df = pd.DataFrame(data)
data_df.head(100)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92
97,97,Aiduecal76,20,Male,134,Undead Crusader,4.50
98,98,Chadossa89,23,Male,132,Persuasion,3.19
99,99,Haisrisuir60,23,Male,92,Final Critic,4.19

In [25]:
data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [26]:
total_players= data_df["SN"].count()
print(total_players)

780

## Player Count

* Display the total number of players

In [27]:



total_players= data_df["SN"].count()
print(total_players)

780

In [28]:
player_data = data[["Gender", "SN", "Age"]].drop_duplicates()
player_data

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [29]:
data_df.value_counts()

Purchase ID  SN              Age  Gender  Item ID  Item Name                                  Price
779          Ennrian78       24   Male    50       Dawn                                       4.60     1
243          Quaranmol58     24   Male    83       Lifebender                                 3.33     1
265          Lirtirra37      25   Male    172      Blade of the Grave                         3.14     1
264          Saesrideu94     35   Male    119      Stormbringer, Dark Blade of Ending Misery  4.32     1
263          Aeral43         24   Male    78       Glimmer, Ender of the Moon                 4.40     1
                                                                                                      ..
517          Aerithnuphos61  39   Male    128      Blazeguard, Reach of Eternity              4.91     1
516          Aidain51        39   Female  35       Heartless Bone Dualblade                   3.45     1
515          Haillyrgue51    7    Male    40       Second Chance                              2.52     1
514          Yasur85         21   Male    21       Souleater                                  1.10     1
0            Lisim78         20   Male    108      Extraction, Quickblade Of Trembling Hands  3.53     1
Length: 780, dtype: int64

## Purchasing Analysis (Total)

data_df.shape

In [30]:
data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [31]:
data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [32]:
data_df["Price"]=pd.to_numeric(data_df["Price"])

In [33]:
data_df["Price"].dtype

dtype('float64')

In [34]:
data_df["Item ID"].value_counts

<bound method IndexOpsMixin.value_counts of 0      108
1      143
2       92
3      100
4      131
      ...
775     60
776    164
777     67
778     92
779     50
Name: Item ID, Length: 780, dtype: int64>

In [35]:
unique_items = len(data_df["Item ID"].unique())
unique_items

179

In [36]:
total_purchases = data_df["Purchase ID"].count()
total_purchases

780

In [37]:
total_revenue = data_df["Price"].sum()
total_revenue

2379.77

In [38]:
average_price = total_revenue/total_purchases
average_price

3.0509871794871795

In [39]:
data_df = pd.DataFrame([{"Number of Unique Items": unique_items, "Average Price": average_price,
                                      "Number of Purchases": total_purchases, "Total Revenue": total_revenue}])
data_df["Average Price"] = data_df["Average Price"].map("${:,.2f}".format)
data_df["Total Revenue"] = data_df["Total Revenue"].map("${:,.2f}".format)
data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92
97,97,Aiduecal76,20,Male,134,Undead Crusader,4.50
98,98,Chadossa89,23,Male,132,Persuasion,3.19
99,99,Haisrisuir60,23,Male,92,Final Critic,4.19

In [46]:
gender_df = pd.DataFrame(player_data["Gender"].value_counts())
gender_df

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [47]:
percentage_of_players = (player_data["Gender"].value_counts()/total_players)*100
percentage_of_players

Male                     62.051282
Female                   10.384615
Other / Non-Disclosed     1.410256
Name: Gender, dtype: float64

In [48]:
gender_df["Percentage of Players"] = percentage_of_players
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)
gender_df

                       Gender Percentage of Players
Male                      484                62.05%
Female                     81                10.38%
Other / Non-Disclosed      11                 1.41%

In [49]:
fin_df = gender_df.rename(columns={"Gender":"Total Count"})
fin_df

                       Total Count Percentage of Players
Male                           484                62.05%
Female                          81                10.38%
Other / Non-Disclosed           11                 1.41%


## Purchasing Analysis (Gender)

In [56]:
gender_g_p_data_df = data_df.groupby(["Gender"])

# The object returned is a "GroupBy" object and cannot be viewed normally...
# print(gender_grouped_purchased_data_df)

# In order to be visualized, a data function must be used...
gender_g_p_data_df["Purchase ID"].count().head(10)

# Get total purchase value by gender
total_purchase_value = gender_g_p_data_df["Price"].sum()
total_purchase_value.head()
dlr_total_purchase_value = total_purchase_value.map("${:,.2f}".format)
dlr_total_purchase_value.head()

# Average purchase price by gender
avg_purchase_price = gender_g_p_data_df["Price"].mean()
avg_purchase_price.head()
dlr_avg_purchase_price = avg_purchase_price.map("${:,.2f}".format)
dlr_avg_purchase_price.head()

# Normalized totals, total purchase value divided by purchase count by gender
avg_t_p = total_purchase_value/fin_df["Total Count"].count()
dlr_avg_t_p = avg_t_p.map("${:,.2f}".format)
dlr_avg_t_p.head()

# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
org_g_p_data_df = pd.DataFrame(gender_g_p_data_df["Purchase ID"].count())
org_g_p_data_df["Average Purchase Price"] = dlr_avg_purchase_price  
org_g_p_data_df["Total Purchase Value"] = dlr_total_purchase_value 
org_g_p_data_df["Average Purchase Total per Person by Gender"] = dlr_avg_t_p 
org_g_p_data_df

# Summary purchasing analysis DF grouped by gender, rename "Purchase ID" column, using .rename(columns={})
summary_g_p_data_df = org_g_p_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_g_p_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$120.65
Male,652,$3.02,"$1,967.64",$655.88
Other / Non-Disclosed,15,$3.35,$50.19,$16.73

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame